.shcedule {
  margin-bottom: 5rem;
  background-color: #23242c;
  border-radius: 1rem;
  padding: 1.5rem;
  max-width: 80%;
  margin: 1rem auto;
  box-shadow: 0 0 10px #00000050;
}

.agendamento-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.agendamento-header .info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.agendamento-header img {
  width: 2rem;
}

.agendamento-header h2 {
  font: --lb-large;
  color: var(--content-primary);
}

.agendamento-header .period-range {
  font: var(--lb-large);
  color: #98959d;
}

.hour-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.agendamento-item {
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.agendamento-info .agendamento-hora {
  font: var(--lb-medium);
  color: var(--content-primary);
}

.agendamento-info .agendamento-hora strong {
  font-weight: 700;
  margin-right: 0.3rem;
}

.agendamento-info .pet {
  font-weight: 600;
}

.agendamento-info .agendamento-servico {
  margin-top: 0.5rem;
  font: var(--pp-medium);
  color: var(--content-secondary);
}

.remover-btn {
  align-self: flex-start;
  background: none;
  border: none;
  color: var(--accent-gray);
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

.remover-btn:hover {
  color: #ff6b6b;
}

@media (width >= 80em) {
  .shcedule {
    max-width: 50%;
  }
}
