@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  --title: 600 1.5rem/2 "Inter Tight", sans-serif;

  --pp-medium: 500 0.875rem/1.5 "Inter", sans-serif;
  --pp-small: 500 0.75/1 "inter", sans-serif;
  --lb-large: 600 1rem/1.5 "Inter", sans-serif;
  --lb-medium: 600 0.875/1.5 "Inter", sans-serif;
  --lb-small: 600 0.75/1 "Inter", sans-serif;
  --link: 500 0.75/1 "Inter", sans-serif;
}

.container {
  max-width: 100rem;
}
